-import play.api.mvc._
-import play.api.data._
-import play.api.data.Forms._
-import views.html.{helper=>h}
-import securesocial.core.providers.utils.RoutesHelper
-import securesocial.core.Registry
-import securesocial.core.IdentityProvider
-import securesocial.core.providers.UsernamePasswordProvider
-import securesocial.core.AuthenticationMethod._
-import securesocial.controllers.Registration.RegistrationInfo
-import h.twitterBootstrap._

-@ val request: RequestHeader
-@ val token: String
-@ val errors: Seq[String]
-@ val signupForm: Form[RegistrationInfo]

- implicit val req = request
- attributes("hideLoginButton") = true

.main
  .row-fluid
    .offset4.span4
      h3.center Create new account

      form.form-horizontal.well.center(action={"/signup/" + token} method="POST")
        fieldset
          .control-group
            .controls
              .control-label First name
              = unescape(h.inputText(signupForm("firstName"), '_label -> "", 'placeholder -> "first name", 'class -> "input", '_showConstraints -> false))
            .controls
              .control-label Last name
              = unescape(h.inputText(signupForm("lastName"), '_label -> "", 'placeholder -> "first name", 'class -> "input", '_showConstraints -> false))
            .controls
              .control-label Password
              = unescape(h.inputPassword(signupForm("password.password1"), '_label -> "", 'placeholder -> "password", 'class -> "input", '_showConstraints -> false))
            .controls
              .control-label Password
              = unescape(h.inputPassword(signupForm("password.password2"), '_label -> "", 'placeholder -> "retype password", 'class -> "input", '_showConstraints -> false, '_error -> signupForm.error("password")))
          .control-group
            .controls
              button.btn(type="submit") Create Account
