- attributes("layout") = ""

-import play.api.mvc._
-import net.openreview.model.users._
-import securesocial.core.providers.utils.RoutesHelper
-import securesocial.core.IdentityProvider
-import securesocial.core.Identity

-@ val request: RequestHeader
- implicit val r = request
-@ val user: Identity
-@ val href: String
html
  body
    p 
      | Hello #{user.fullName},
    
    p 
      | You tried to sign up but you already have an account with us.  If you don't remember your password please go to 
      a(href={href})
        | to reset it.
    p
      | Thanks,
      | The team at OpenReview.net
